body{
    list-style: none;
    font-family: sans-serif;
    background-image: url(outerspaceHands.jpg);
    color: silver;
    font-size: x-large;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: left;
    list-style: none;
    background-position: center; 
}

ul{
    list-style-type: none
}

a{
    text-decoration: none;
    color:white
}

a:hover{
    color:orange
}
*{
    margin-left: 5px;
}

.wrapper{
    max-width:960px;
    margin:0 auto;
}

.wrapper h1{
    text-align:center;
    margin: 100px auto;
    font-size: 2.4em
}

.header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:20px 0;
}

nav{
    justify-self:end;
}


///////



header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 16px;
}

.quotes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.quote{
    padding: 10px;
    border: 1px solid red;
    position: relative;
    padding-bottom: 40px;
}

.quote h2{
    font-size: 1.2em;
}

.quote .author{
    padding: 10px;
    background: hotpink;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}

.quote-detail .quote{
    padding: 0;
}

.quote-detail .quote img{
    max-width: 100%;
}

.quote-detail .quote h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em
}

.quote-detail .quote h3{
    text-align: center;
}

.quote-detail  .quote{
    margin: 10px 20px
}

.quote .date{
    font-size: 0.5em;
    color: grey
}