<header class="navbar sticky-top navbar-expand-lg navbar-dark"
     style="background-color: #14114a"
>
  <a class="navbar-brand" href="{% url 'index'%}">Z4P4700 Quotes</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block home_active %} {% endblock home_active %}">
        <a class="nav-link" href="{% url 'index'%}"
          >Home</a
        >
      </li>
      <li class="nav-item {% block create_active %} {% endblock create_active %}">
        <a class="nav-link" href="{% url 'quotes:create'%}">Create A Quote</a>
      </li>   
    </ul>

<ul class="navbar-nav ml-auto">
    <form class="form-inline my-2 my-lg-0" target="{% url 'quotes:search' %}" method="GET">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search Quotes"
      />
      <button class="btn btn-outline-success mx-1 my-sm-0" type="submit">
        Search
      </button>
    </form>

      {% if user.is_authenticated %}
        <!-- username and logout buttons -->
        <a type="button" class="btn btn-outline-primary mx-1 my-sm-0"
          href="{% url 'accounts:profile' %}">{{ request.user.username }}</a>
        
        <a type="button" class="btn btn-outline-danger mx-1 my-sm-0" 
          href="{% url 'accounts:logout' %}">Logout</a>
      {% else %}
        <!-- dropdown form -->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-toggle="dropdown">
          Login</a>
        <div class="dropdown-menu">
          <form class="px-4 py-3" method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="form-group">
              {{request.login_form.username.label}}
              {{request.login_form.username}}
            </div>
            <div class="form-group">
              {{request.login_form.password.label}}
              {{request.login_form.password}}
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:signup' %}">Sign Up</a>
        </div>
      {% endif %}
      </ul>
  </div>
</header>
